*{
    margin: auto 0;
}

body {
    background-image: url(shutterstock_1541372228\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav_btn {
   display: flex;
   gap: 5px;
   padding-right: 20em;
}

button {
    background-color: #113446;
    border: none;
    border-radius: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.experios_logo {
    padding: 20px;
    padding-left: 3em;
}

h3 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 100;
}
h1 {
    color: #ffffff;
    font-size: 4rem;
    padding-top: 1.5rem;
}
h4 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 50;
}

.card1 {
    background-image: url(card_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:12rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.card2 {
    background-image: url(card_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:12rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card3 {
    background-image: url(card_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:12rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card4 {
    background-image: url(card4_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:12rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20vh;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
}


/* now Work on media queries */
@media (max-width: 1366px) {
    .nav_btn {
        padding-right: 8em;
     }

     section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 17vh;
     }
     h3 {
        font-size: 2.5rem;
     }
    h1 {
        font-size: 3.6rem;
    }
    .cards {
        padding-top: 3rem;
    }

    .card1 , .card2 , .card3 , .card4{
        width: 11rem;
        height: 13rem;
    }
    .icon {
        width: 5rem;
    }
    h4 {
        font-size: 1.3rem;
    }
}

@media (max-width: 1050px) {
    .nav_btn {
        padding-right: 8em;
     }

     section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 24vh;
     }
     h3 {
        font-size: 1.5rem;
     }
    h1 {
        font-size: 2rem;
    }
    .cards {
        padding-top: 1.5rem;
    }

    .card1 , .card2 , .card3 , .card4{
        width: 9rem;
        height: 11rem;
    }
    .icon {
        width: 4.5rem;
    }
    h4 {
        font-size: 1rem;
    }
}



@media (max-width: 800px) {
    .nav_btn {
        padding-right: 4rem;
        
     }

     section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 29vh;
        padding-bottom: 4vh;
     }
     h3 {
        font-size: 1.5rem;
     }
    h1 {
        font-size: 1.7rem;
    }
    .cards {
        padding-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .card1 , .card2 , .card3 , .card4{
        width: 7rem;
        height: 9rem;
    }
    .icon {
        width: 3rem;
    }
    h4 {
        font-size: 0.7rem;
    }

    .experios_logo {
        width: 1rem;
    }
    .nav_icon {
        width: 4rem;

    }
    .nav_expo_icon {
        width: 5rem;
        padding-left: 1 rem;
        
    }
}

@media (max-width: 480px) {
    .nav_btn {
        padding-right: 2rem;
        
     }

     section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 22vh;
        padding-bottom: 6vh;
     }
     h3 {
        font-size: 1.3rem;
     }
    h1 {
        font-size: 1.8rem;
    }
    .cards {
        padding-top: 1.5rem;
        display: flex; 
        flex-wrap: wrap;
        justify-content: center ;
        align-items: center;
        
    }

    .card1 , .card2 , .card3 , .card4{
        width: 8rem;
        height: 10rem;
    }
    .icon {
        width: 3.5rem;
    }
    h4 {
        font-size: 0.9rem;
    }

    .experios_logo {
        width: 1.5rem;
    }
    .nav_icon {
        width: 4rem;

    }
    .nav_expo_icon {
        width: 4.5rem;
        padding-left: 1 rem;
        
    }
}

@media (max-width: 365px) {
    .nav_btn {
        padding-right: 1rem;
        
     }

     section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 22vh;
        padding-bottom: 6vh;
     }
     h3 {
        font-size: 1rem;
     }
    h1 {
        font-size: 1.2rem;
    }
    .cards {
        padding-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .card1 , .card2 , .card3 , .card4{
        width: 7rem;
        height: 9rem;
    }
    .icon {
        width: 3rem;
    }
    h4 {
        font-size: 0.7rem;
    }

    .experios_logo {
        width: 1rem;
    }
    .nav_icon {
        width: 4rem;

    }
    .nav_expo_icon {
        width: 5rem;
        padding-left: 1 rem;
        
    }
}